In [28]:
import pandas as pd
import numpy as np

In [60]:
# 讀取登革熱資料
dungue = pd.read_csv(r"D:\Site_project\Dengue\dungue.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_32180\1558106515.py:2: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  dungue = pd.read_csv(r"D:\Site_project\Dengue\dungue.csv")

In [61]:
# 刪除登革熱資料多於欄位
dungue = dungue[['Date_Confirmation', 'County_living', 'Number_of_confirmed_cases']]
# 修改格式
dungue = dungue.astype({'Date_Confirmation': 'string', 'County_living': 'string'})
# 找出None位置並刪除該列
dungue.drop(axis=0, index=dungue[dungue['Date_Confirmation'].values == 'None'].index, inplace=True)
dungue.drop(axis=0, index=dungue[dungue['County_living'].values == 'None'].index, inplace=True)
# 重置索引
dungue.reset_index(drop=True, inplace=True)
# 將確診數量缺失值設為0
dungue.fillna({'Number_of_confirmed_cases':0})
dungue

      Date_Confirmation    County_living  Number_of_confirmed_cases
0            2006/11/29      Taipei City                          1
1              2006/9/7      Taipei City                          1
2              2006/9/7  New Taipei City                          1
3             2006/3/15  Changhua County                          1
4              2006/9/7  Pingtung County                          1
...                 ...              ...                        ...
73495         2022/10/1  New Taipei City                          1
73496         2022/10/7   Hsinchu County                          1
73497         2022/10/7   Kaohsiung City                          1
73498        2022/10/11      Taipei City                          1
73499        2022/10/15  New Taipei City                          1

[73500 rows x 3 columns]

In [13]:
rain = pd.read_csv(r'./rain.csv')
rain

C:\Users\user\AppData\Local\Temp\ipykernel_32180\2531982267.py:1: DtypeWarning: Columns (1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  rain = pd.read_csv(r'./rain.csv')

        CityName    YY  MM WGS84_Lon WGS84_Lat  RainValue
0            南投縣  1960   1     120.6     23.85   0.105046
1            南投縣  1960   2     120.6     23.85   0.166738
2            南投縣  1960   3     120.6     23.85    1.83034
3            南投縣  1960   4     120.6     23.85    2.70483
4            南投縣  1960   5     120.6     23.85    4.26077
...          ...   ...  ..       ...       ...        ...
1048570      花蓮縣  1987   7    121.35      23.2    4.30933
1048571      花蓮縣  1987   8    121.35      23.2  0.0953521
1048572      花蓮縣  1987   9    121.35      23.2    14.8186
1048573      花蓮縣  1987  10    121.35      23.2    15.0263
1048574      花蓮縣  1987  11    121.35      23.2    1.22356

[1048575 rows x 6 columns]

In [15]:
temp = pd.read_csv(r'./temp.csv')
temp

C:\Users\user\AppData\Local\Temp\ipykernel_32180\3340946576.py:1: DtypeWarning: Columns (1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(r'./temp.csv')

        CityName    YY  MM WGS84_Lon WGS84_Lat TempValue
0            南投縣  1960   1     120.6     23.85   16.5327
1            南投縣  1960   2     120.6     23.85   16.9445
2            南投縣  1960   3     120.6     23.85   21.8971
3            南投縣  1960   4     120.6     23.85   22.0887
4            南投縣  1960   5     120.6     23.85   25.1102
...          ...   ...  ..       ...       ...       ...
1048570      花蓮縣  1987   7    121.35      23.2   23.8254
1048571      花蓮縣  1987   8    121.35      23.2   24.1009
1048572      花蓮縣  1987   9    121.35      23.2   21.1338
1048573      花蓮縣  1987  10    121.35      23.2   20.5834
1048574      花蓮縣  1987  11    121.35      23.2   18.3648

[1048575 rows x 6 columns]